<h2>Ура!</h2>

<p>
  <%= @user.name %>! Вы прошли <b><%= @test.title %></b> тест
  со следующим результатом: <%= @test_eval.percent.to_i %>%
</p>
<p>
  Почему бы не пройти <%= link_to 'ещё', tests_url %> ?
</p>
