
<footer>
  <p>
    <%= current_year %>
    Зоркальцев Евгений
    <%= github_url('Zoratoostar', 'TestGuru') %>
  </p>
  <p>
    Cоздание, изменение и прохождение тестов.
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                'http://thinknetica.com', target: "_blank" %>
  </p>
</footer>
