
<p class = 'nav user'><%= link_to 'Test Guru', tests_path %></p>
<% if user_signed_in? %>
  <p class = 'nav user'>Welcome, Comrade <b><%= current_user.name %></b></p>
  <p class = 'nav user'><%= link_to 'Logout', destroy_user_session_path,
                                    method: :delete,
                                    data: { confirm: "Sign out ?" } %></p>
<% else %>
  <p class = 'nav user'><%= link_to 'Sign Up', new_user_registration_path %></p>
<% end %>
