<!-- <p><strong>Answer Options</strong></p> -->

<p><%= link_to 'Back to Question', admin_question_path(@question) %></p>

<table>
  <tr>
    <th>Prefix</th>
    <th>Text</th>
    <th>Right</th>
    <th colspan="2">Actions</th>
  </tr>

  <%= render @answer_options %>
</table>

<p><%= link_to 'New option', new_admin_question_answer_option_path(params[:question_id]) %></p>
