
<p>This project have tests of the following categories:</p>

<ul>
  <% @categories.each do |category| %>
    <li><%= category.title %></li>
  <% end %>
</ul><br>

<p><%= link_to 'Sign in (login)', new_user_session_path %></p><br>
